<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="config_speed" default="$(find speed_control)/config/config.yaml" />
  <arg name="config_steer" default="$(find path_tracking)/config/config.yaml" />

  <arg name="configfile" default="$(find ecucomm)/config/configmulti.xml" />
  <arg name="config_yaml" default="$(find ecucomm)/config/config.yaml" />
  <arg name="logdir" default="--log_dir=$(find ecucomm)/log" />
  <arg name="glogparam" default="--logtostderr=0  --colorlogtostderr=1 --stderrthreshold=5   $(arg logdir)" />

  <arg name="config_manual" default="$(find manual_gui)/launch/params/demo_parameters.yaml" />

  <node pkg="ecucomm" type="ecuchannel" name="ecuchannel" args="$(arg glogparam)" output="screen">
  	<param name="config_file" value="$(arg configfile)"/>
  </node>

  <node pkg="ecucomm" type="getecudata" name="getecudata" args="$(arg glogparam)" output="screen">
    <rosparam command="load" file="$(arg config_yaml)"/>
  </node>

  <node pkg="ecucomm" type="sendecudata" name="sendecudata" args="$(arg glogparam)" output="screen">
    <rosparam command="load" file="$(arg config_yaml)"/>
  </node>

  <node pkg="speed_control" name="speedcontrol" type="speedcontrol" output="screen" >
    <rosparam command="load" file="$(arg config_speed)"/>
  </node>
  <node pkg="path_tracking" type="mpc_controller" name="mpc_controller" output="screen">
    <rosparam command="load" file="$(arg config_steer)"/>
  </node>

  <node pkg="manual_gui" type="manual_gui" name="manual_gui" output="screen">
    <rosparam command="load" file="$(arg config_manual)"/>
  </node>
  <node name="reconfigure_gui" pkg="rqt_reconfigure" type="rqt_reconfigure" />

</launch>


